h1 {
  font-weight: bold;
}

.desktop-mat-form-field {
  padding-left: 20px;
  padding-bottom: 15px;
}

.mobile-label {
  width: 100%;
}

mat-form-field.firstName {
  width: 10%;
}

mat-form-field.lastName {
  width: 20%;
}

mat-form-field.birthDate {
  width: 10%;
}

mat-form-field.refereeCourseYear {
  width: 13%;
}

mat-form-field.registrationAddress {
  width: 30%;
}

mat-form-field.residenceAddress {
  width: 30%;
}

mat-form-field.phoneNumber {
  width: 10%;
}

mat-form-field.email {
  width: 15%;
}

h3.day {
  font-style: italic;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

/*.container {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  justify-content: space-evenly;*/
/*}*/

.day-container {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: center;
}

.example-radio-button {
  margin: 10px;
}
