<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="isError">
  <h1>Niestety wystąpił błąd w ładowaniu danych. Proszę skontaktuj się z właścicielem tej strony - Dawidem Marcinków (dawid.marcinkow@gmail.com)</h1>
</div>
<div *ngIf="!isLoading && !isError">
  <div *ngIf="!mobile">
    <div style="text-align: center; padding-bottom: 30px">
      <h1 style="margin-bottom: 0; font-size: 35px; margin-top: 10px">Ankieta przedsezonowa 2024<span (click)="increaseTopSecretCounter()">/</span>2025</h1>
      <div *ngIf="!isLoggedIn && !gotSurveyByPassword" style="padding: 20px">
        <p style="margin-bottom: 5px">Cześć, jeżeli chcesz zaktualizować utworzoną wcześniej ankietę wpisz poniżej hasło z otrzymanego maila po pierwszym wypełnieniu.</p>
        <input name="surveyPassword" [(ngModel)]="surveyPassword" autocomplete="off">
        <button style="margin-left: 10px" mat-stroked-button color="primary" (click)="getSurveyByPw()" [disabled]="surveyPassword.length==0 || isGettingSurveyData">
          <mat-icon *ngIf="isGettingSurveyData"><mat-spinner diameter="20"></mat-spinner></mat-icon> Wczytaj ankietę
        </button>
        <p *ngIf="surveyByPwNotFound" style="color: blue"> Nie znaleziono takiej ankiety.</p>
        <p *ngIf="surveyByPwForbidden" style="color: red"> Zablokowano dostęp. Zbyt dużo nieudanych prób - skontaktuj się z Dawidem Marcinków.</p>
        <p style="margin-top: 5px"> Jeżeli jesteś tu pierwszy raz, wypełnij po prostu poniższą ankietę. :-)</p>
      </div>
      <div *ngIf="isLoggedIn && topSecretCounter >= 5" style="padding: 20px">
        <input name="topSecretPw" type="password" [(ngModel)]="topSecretPassword" autocomplete="off">
        <button style="margin-left: 10px" mat-stroked-button color="primary" (click)="downloadAllSurveys()">Pobierz ankiety</button>
      </div>
      <h4 style="color: red">(należy wysłać do 31 sierpnia 2024r.)</h4>
      <h4 style="color: blue; font-style: italic" *ngIf="surveyData.id">Ankieta została już wysłana, ale możesz ją zaktualizować.</h4>
      <hr/>
      <div>
        <h1 class="header">Dane sędziego:</h1>
        <mat-form-field class="firstName desktop-mat-form-field">
          <mat-label>Imię</mat-label>
          <input matInput [formControl]="firstName" required>
          <mat-error *ngIf="firstName.invalid">{{getErrorMessage('firstName')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="lastName desktop-mat-form-field">
          <mat-label>Nazwisko</mat-label>
          <input matInput [formControl]="lastName" required>
          <mat-error *ngIf="lastName.invalid">{{getErrorMessage('lastName')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="birthDate desktop-mat-form-field">
          <mat-label>Data urodzenia</mat-label>
          <input matInput [matDatepicker]="picker" autocomplete="off" [formControl]="birthDate" placeholder="DD.MM.YYYY">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="birthDate.invalid">{{getErrorMessage('birthDate')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="refereeCourseYear desktop-mat-form-field">
          <mat-label>Rok rozpoczęcia sędziowania</mat-label>
          <input matInput [formControl]="refereeCourseYear" required>
          <mat-error *ngIf="refereeCourseYear.invalid">{{getErrorMessage('refereeCourseYear')}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="registrationAddress desktop-mat-form-field">
          <mat-label>Adres zameldowania</mat-label>
          <input matInput [formControl]="registrationAddress" required>
          <mat-error *ngIf="registrationAddress.invalid">{{getErrorMessage('registrationAddress')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="residenceAddress desktop-mat-form-field">
          <mat-label>Adres zamieszkania</mat-label>
          <input matInput [formControl]="residenceAddress" required>
          <mat-error *ngIf="residenceAddress.invalid">{{getErrorMessage('residenceAddress')}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="phoneNumber desktop-mat-form-field">
          <mat-label>Nr telefonu</mat-label>
          <input matInput [formControl]="phoneNumber" required>
          <mat-error *ngIf="phoneNumber.invalid">{{getErrorMessage('phoneNumber')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="email desktop-mat-form-field">
          <mat-label>Aktualny adres e-mail</mat-label>
          <input matInput [formControl]="email" required [readonly]="!isLoggedIn && gotSurveyByPassword" (focusout)="checkMail()">
          <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
        <div *ngIf="!gotSurveyByPassword && mailIsUsed" style="color: red; padding-bottom: 10px">Została już wysłana ankieta dla tego adresu e-mail. Jeżeli chcesz zaktualizować ankietę, wpisz powyżej hasło, które otrzymałeś przy pierwszym wysłaniu ankiety.</div>
      </div>
      <div>
        <h3 style="margin-bottom: 0">Rozmiar nowej koszulki sędziowskiej</h3>
        <mat-button-toggle-group name="shirtSize" aria-label="Rozmiar koszulki" [(ngModel)]="shirtSize">
          <mat-button-toggle value="S">S</mat-button-toggle>
          <mat-button-toggle value="M">M</mat-button-toggle>
          <mat-button-toggle value="L">L</mat-button-toggle>
          <mat-button-toggle value="XL">XL</mat-button-toggle>
          <mat-button-toggle value="XXL">XXL</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <hr/>
      <div>
        <h1 style="padding-top: 10px">Możliwości sędziowania:</h1>
        <h2 style="margin-bottom: 0">Odległość od miejsca zamieszkania</h2>
        <h5>(Orientacyjnie dla referenta obsad)</h5>
        <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" [(ngModel)]="distancePreference">
          <mat-button-toggle value="Tylko w moim miescie">Tylko w moim mieście</mat-button-toggle>
          <mat-button-toggle value="Do 15 km">Do 15 km</mat-button-toggle>
          <mat-button-toggle value="Do 30 km">Do 30 km</mat-button-toggle>
          <mat-button-toggle value="Do 50 km">Do 50 km</mat-button-toggle>
          <mat-button-toggle value="Wszedzie">Wszędzie</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div style="padding-top: 10px">
        <mat-checkbox [(ngModel)]="hasCar" color="primary"></mat-checkbox>
        <h3 class="day">Czy posiadasz samochód (zaznacz jeżeli TAK)</h3>
      </div>
      <div style="padding-top: 20px">
        <h2 class="header">Dni tygodnia</h2>
        <div class="container">
          <div class="day-container">
            <mat-checkbox [(ngModel)]="monday.isChecked" color="primary"></mat-checkbox>
            <h3 class="day">Poniedziałek</h3>
          </div>
          <hr style="width: 40%"/>
          <div class="day-container">
            <mat-checkbox [(ngModel)]="tuesday.isChecked" color="primary"></mat-checkbox>
            <h3 class="day">Wtorek</h3>
          </div>
          <hr style="width: 40%"/>
          <div class="day-container">
            <mat-checkbox [(ngModel)]="wednesday.isChecked" color="primary"></mat-checkbox>
            <h3 class="day">Środa</h3>
          </div>
          <hr style="width: 40%"/>
          <div class="day-container">
            <mat-checkbox [(ngModel)]="thursday.isChecked" color="primary"></mat-checkbox>
            <h3 class="day">Czwartek</h3>
          </div>
          <hr style="width: 40%"/>
          <div class="day-container">
            <mat-checkbox [(ngModel)]="friday.isChecked" color="primary"></mat-checkbox>
            <h3 class="day">Piątek</h3>
          </div>
          <hr style="width: 40%"/>
          <div class="day-container">
            <mat-checkbox [(ngModel)]="saturday.isChecked" color="primary"></mat-checkbox>
            <h3 class="day">Sobota</h3>
          </div>
          <hr style="width: 40%"/>
          <div class="day-container">
            <mat-checkbox [(ngModel)]="sunday.isChecked" color="primary"></mat-checkbox>
            <h3 class="day">Niedziela</h3>
          </div>
        </div>
      </div>
      <div style="padding-top: 20px">
        <div>
          <h2 style="margin-bottom: 0">Dodatkowy komentarz</h2>
          <mat-form-field appearance="outline" style="width: 800px">
            <textarea [(ngModel)]="extraComment" matInput placeholder="Proszę wypisać tutaj wszystkie ograniczenia i możliwości dotyczące sędziowania - ile razy w tygodniu chcesz sędziować, POWIĄZANIA Z KLUBAMI (jakie, w jakiej kategorii rozgrywek). Każda informacja bardzo pomoże." rows="5" maxlength="3000"></textarea>
          </mat-form-field>
        </div>
      </div>
      <hr/>
      <div>
        <h1 style="padding-top: 10px">Feedback za poprzedni sezon</h1>
        <div>
          <mat-form-field appearance="outline" style="width: 800px">
            <textarea [(ngModel)]="feedback" matInput placeholder="Jesteśmy otwarci na Wasze uwagi, propozycje i przemyślenia po ostatnim sezonie. Jeśli jakieś macie, zostawcie je w tym okienku. Uwagi nie będą nigdzie publikowane, jest to tylko do wiadomości Wydziału Sędziowskiego." rows="5" maxlength="3000"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div *ngIf="errorMessage != ''" style="color: red; white-space: pre-line; padding-bottom: 10px">
          {{errorMessage}}
        </div>
        <button *ngIf="!sentSuccessfully && !sentWithError" (click)="send()" mat-raised-button color="primary" [disabled]="(!gotSurveyByPassword && mailIsUsed) || isSending">
          <mat-icon *ngIf="isSending"><mat-spinner color="warn" diameter="20"></mat-spinner></mat-icon>
          {{surveyData.id ? 'Zaktualizuj ankietę' :'Wyślij ankietę'}}
        </button>
        <h3 *ngIf="sentSuccessfully && isLoggedIn" style="color: green; font-weight: bold">Pomyślnie wysłano ankietę. Dzięki :-)</h3>
        <h3 *ngIf="sentSuccessfully && !isLoggedIn" style="color: green; font-weight: bold">Pomyślnie wysłano ankietę. <span *ngIf="!surveyData.id">Dostałeś właśnie na maila hasło żeby móc w przyszłości edytować swoją ankietę.</span></h3>
        <h3 *ngIf="sentWithError" style="color: red; font-weight: bold">Coś poszło nie tak z wysyłaniem ankiety. Skontaktuj się z Dawidem Marcinków (dawid.marcinkow@gmail.com).</h3>
      </div>
    </div>
  </div>
  <div *ngIf="mobile">
    <div style="text-align: center">
      <h1 style="margin-bottom: 0">Ankieta przedsezonowa 2024/2025</h1>
      <div *ngIf="!isLoggedIn && !gotSurveyByPassword" style="padding: 20px">
        <p style="margin-bottom: 5px">Cześć, jeżeli chcesz zaktualizować utworzoną wcześniej ankietę wpisz poniżej hasło z maila.</p>
        <input name="surveyPassword" [(ngModel)]="surveyPassword" autocomplete="off">
        <button style="margin-left: 10px" mat-stroked-button color="primary" (click)="getSurveyByPw()" [disabled]="surveyPassword.length==0 || isGettingSurveyData">
          <mat-icon *ngIf="isGettingSurveyData"><mat-spinner diameter="20"></mat-spinner></mat-icon>
          Wczytaj ankietę
        </button>
        <p *ngIf="surveyByPwNotFound" style="color: blue"> Nie znaleziono takiej ankiety.</p>
        <p *ngIf="surveyByPwForbidden" style="color: red"> Zablokowano dostęp. Zbyt dużo nieudanych prób - skontaktuj się z Dawidem Marcinków.</p>
        <p style="margin-top: 5px"> Jeżeli jesteś tu pierwszy raz, wypełnij po prostu poniższą ankietę. :-)</p>
      </div>
<!--      <h4 style="color: red">(należy wysłać do 31 sierpnia 2024r.)</h4>-->
      <h4 style="color: blue; font-style: italic" *ngIf="surveyData.id">Ankieta została już wysłana, ale możesz ją nadal zaktualizować.</h4>
      <mat-stepper orientation="vertical">
        <mat-step>
          <ng-template matStepLabel>Dane sędziego</ng-template>
          <ng-template matStepContent>
            <div>
              <mat-form-field class="mobile-firstName mobile-label">
                <mat-label>Imię</mat-label>
                <input matInput [formControl]="firstName" required  autocomplete="off">
                <mat-error *ngIf="firstName.invalid">{{getErrorMessage('firstName')}}</mat-error>
              </mat-form-field>

              <mat-form-field class="mobile-lastName mobile-label">
                <mat-label>Nazwisko</mat-label>
                <input matInput [formControl]="lastName" required autocomplete="off">
                <mat-error *ngIf="lastName.invalid">{{getErrorMessage('lastName')}}</mat-error>
              </mat-form-field>

              <mat-form-field class="mobile-birthDate mobile-label">
                <mat-label>Data urodzenia</mat-label>
                <input matInput [matDatepicker]="picker" autocomplete="off" [formControl]="birthDate" placeholder="DD.MM.YYYY">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="birthDate.invalid">{{getErrorMessage('birthDate')}}</mat-error>
              </mat-form-field>

              <mat-form-field class="mobile-refereeCourseYear mobile-label">
                <mat-label>Rok rozpoczęcia sędziowania</mat-label>
                <input matInput [formControl]="refereeCourseYear" required autocomplete="off">
                <mat-error *ngIf="refereeCourseYear.invalid">{{getErrorMessage('refereeCourseYear')}}</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mobile-registrationAddress mobile-label">
                <mat-label>Adres zameldowania</mat-label>
                <input matInput [formControl]="registrationAddress" required autocomplete="off">
                <mat-error *ngIf="registrationAddress.invalid">{{getErrorMessage('registrationAddress')}}</mat-error>
              </mat-form-field>

              <mat-form-field class="mobile-residenceAddress mobile-label">
                <mat-label>Adres zamieszkania</mat-label>
                <input matInput [formControl]="residenceAddress" required autocomplete="off">
                <mat-error *ngIf="residenceAddress.invalid">{{getErrorMessage('residenceAddress')}}</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="mobile-phoneNumber mobile-label">
                <mat-label>Nr telefonu</mat-label>
                <input matInput [formControl]="phoneNumber" required autocomplete="off">
                <mat-error *ngIf="phoneNumber.invalid">{{getErrorMessage('phoneNumber')}}</mat-error>
              </mat-form-field>

              <mat-form-field class="mobile-email mobile-label">
                <mat-label>Aktualny adres e-mail</mat-label>
                <input matInput [formControl]="email" required [readonly]="!isLoggedIn && gotSurveyByPassword" (focusout)="checkMail()">
                <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
              </mat-form-field>
              <div *ngIf="!gotSurveyByPassword && mailIsUsed" style="color: red; padding-bottom: 10px">Została już wysłana ankieta dla tego adresu e-mail. Jeżeli chcesz zaktualizować ankietę, wpisz powyżej hasło, które otrzymałeś przy pierwszym wysłaniu ankiety.</div>
            </div>
            <h3 style="margin-bottom: 0">Rozmiar koszulki sędziowskiej</h3>
            <mat-radio-group class="example-radio-group" [(ngModel)]="shirtSize" color="primary">
              <mat-radio-button class="example-radio-button" value="S">S</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="M">M</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="L">L</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="XL">XL</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="XXL">XXL</mat-radio-button>
            </mat-radio-group>
            <div style="margin-top: 10px">
              <button mat-raised-button matStepperNext>Dalej</button>
            </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Możliwości sędziowania</ng-template>
          <ng-template matStepContent>
          <div>
            <div>
              <h2 style="margin-bottom: 0">Odległość od miejsca zamieszkania</h2>
              <h5>(Orientacyjnie dla referenta obsad)</h5>
              <mat-radio-group class="example-radio-group" [(ngModel)]="distancePreference" color="primary">
                <mat-radio-button class="example-radio-button" value="Tylko w moim miescie">Tylko w moim mieście</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Do 15 km">Do 15 km</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Do 30 km">Do 30 km</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Do 50 km">Do 50 km</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Wszedzie">Wszędzie</mat-radio-button>
              </mat-radio-group>
            </div>
            <div style="padding-bottom: 15px">
              <h2 style="margin-bottom: 0px">Czy posiadasz samochód?</h2>
              <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" [(ngModel)]="hasCar">
                <mat-button-toggle [value]="true">Tak</mat-button-toggle>
                <mat-button-toggle [value]="false">Nie</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <h2 class="header">Dni tygodnia</h2>
            <div class="day-container">
              <mat-checkbox [(ngModel)]="monday.isChecked" color="primary"></mat-checkbox>
              <h3 class="day">Poniedziałek</h3>
            </div>
            <hr/>
            <div class="day-container">
              <mat-checkbox [(ngModel)]="tuesday.isChecked" color="primary"></mat-checkbox>
              <h3 class="day">Wtorek</h3>
            </div>
            <hr/>
            <div class="day-container">
              <mat-checkbox [(ngModel)]="wednesday.isChecked" color="primary"></mat-checkbox>
              <h3 class="day">Środa</h3>
            </div>
            <hr/>
            <div class="day-container">
              <mat-checkbox [(ngModel)]="thursday.isChecked" color="primary"></mat-checkbox>
              <h3 class="day">Czwartek</h3>
            </div>
            <hr/>
            <div class="day-container">
              <mat-checkbox [(ngModel)]="friday.isChecked" color="primary"></mat-checkbox>
              <h3 class="day">Piątek</h3>
            </div>
            <hr/>
            <div class="day-container">
              <mat-checkbox [(ngModel)]="saturday.isChecked" color="primary"></mat-checkbox>
              <h3 class="day">Sobota</h3>
            </div>
            <hr/>
            <div class="day-container">
              <mat-checkbox [(ngModel)]="sunday.isChecked" color="primary"></mat-checkbox>
              <h3 class="day">Niedziela</h3>
            </div>
          </div>
          <div style="padding-top: 30px">
            <button style="margin-right: 20px" mat-raised-button matStepperPrevious>Powrót</button>
            <button mat-raised-button matStepperNext>Dalej</button>
          </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Możliwości sędziowania - komentarz</ng-template>
          <ng-template matStepContent>
            <mat-form-field appearance="outline" style="width: 100%; padding-bottom: 0">
              <textarea matInput [(ngModel)]="extraComment" placeholder="Proszę wypisać tutaj wszystkie ograniczenia i możliwości dotyczące sędziowania - ile razy w tygodniu chcesz sędziować, POWIĄZANIA Z KLUBAMI (jakie, w jakiej kategorii rozgrywek). Każda informacja bardzo pomoże." rows="8" maxlength="3000"></textarea>
            </mat-form-field>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Feedback za poprzedni sezon</ng-template>
          <ng-template matStepContent>
            <mat-form-field appearance="outline" style="width: 100%; padding-bottom: 0">
              <textarea matInput [(ngModel)]="feedback" placeholder="Jesteśmy otwarci na Wasze uwagi, propozycje i przemyślenia po ostatnim sezonie. Jeśli jakieś macie, zostawcie je w tym okienku. Uwagi nie będą nigdzie publikowane, jest to tylko do wiadomości Wydziału Sędziowskiego." rows="8" maxlength="3000"></textarea>
            </mat-form-field>
            <div style="text-align:center; padding-bottom: 20px">
              <button *ngIf="!sentSuccessfully && !sentWithError" style="margin-right: 20px" mat-raised-button matStepperPrevious>Powrót</button>
              <button *ngIf="!sentSuccessfully && !sentWithError" (click)="send()" mat-raised-button color="primary" [disabled]="(!gotSurveyByPassword && mailIsUsed) || isSending">
                <mat-icon *ngIf="isSending"><mat-spinner color="warn" diameter="20"></mat-spinner></mat-icon>
                {{surveyData.id ? 'Zaktualizuj ankietę' :'Wyślij ankietę'}}
              </button>
              <h3 *ngIf="sentSuccessfully && isLoggedIn" style="color: green; font-weight: bold">Pomyślnie wysłano ankietę. Pamiętaj, że do końca wskazanego terminu powyżej, możesz jeszcze ją edytować wracając tutaj. Dzięki :-)</h3>
              <h3 *ngIf="sentSuccessfully && !isLoggedIn" style="color: green; font-weight: bold">Pomyślnie wysłano ankietę. Dostałeś właśnie na maila hasło żeby móc w przyszłości edytować swoją ankietę. Dzięki :-)</h3>
              <h3 *ngIf="sentWithError" style="color: red; font-weight: bold">Coś poszło nie tak z wysyłaniem ankiety. Skontaktuj się z Dawidem Marcinków (dawid.marcinkow@gmail.com).</h3>
              <div *ngIf="!gotSurveyByPassword && mailIsUsed" style="color: red; padding-bottom: 10px">Została już wysłana ankieta dla tego adresu e-mail. Jeżeli chcesz zaktualizować ankietę, wpisz powyżej hasło, które otrzymałeś przy pierwszym wysłaniu ankiety.</div>
              <div *ngIf="errorMessage != ''" style="color: red; white-space: pre-line; padding-top: 10px">
                {{errorMessage}}
              </div>
            </div>
          </ng-template>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</div>
