table {
  width: 100%;
}

.mat-mdc-form-field{
  width: 90% !important;
}

.mat-column-position {
  flex: 0 0 3% !important;
  width: 3% !important;

  white-space: unset !important;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-date {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-league {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 12% !important;
  width: 12% !important;
  overflow-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-matchTeams {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 32% !important;
  width: 32% !important;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-toPay {
  text-align: center;
  justify-content: center;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-paid {
  text-align: center;
  justify-content: center;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 9% !important;
  width: 9% !important;
  overflow-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-comment {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 26% !important;
  width: 26% !important;
  overflow-wrap: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/*-----------------------------MOBILE------------------------------------*/
.mat-column-mobile-paid {
  text-align: left;
  justify-content: left;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-mobile-date {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-mobile-teamHome {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 38% !important;
  width: 38% !important;
  overflow-wrap: break-word;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-mobile-toPay {
  text-align: center;
  justify-content: center;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-mobile-details {
  text-align: right;
  justify-content: right;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/*----------------------------------------------------------------------------*/
.help-icon {
  transform: scale(85%);
}

.inline {
  display: inline-flex;
  vertical-align: middle;
}

.mat-mdc-tooltip {
  white-space: pre-line;
}

.aligned-with-icon {
  float: right;
  position: absolute;
  margin-top: 5px;
  margin-left: 5px; /* optional */
}
