<mat-progress-bar *ngIf="!timetable" mode="indeterminate"></mat-progress-bar>
<table *ngIf="timetable" mat-table [dataSource]="timetable.reverse()" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position" >
    <th mat-header-cell *matHeaderCellDef> Lp. </th>
    <td mat-cell *matCellDef="let element; let i = index">{{timetable.length - i}}</td>
  </ng-container>

  <!-- matchInfo Column -->
  <ng-container matColumnDef="matchInfo">
    <th mat-header-cell *matHeaderCellDef> Liga, kolejka, nr meczu </th>
    <td mat-cell *matCellDef="let match"> {{match.league}}, {{match.round}}, {{match.matchNumber}} </td>
  </ng-container>

  <!-- matchTeams Column -->
  <ng-container matColumnDef="matchTeams">
    <th mat-header-cell *matHeaderCellDef> Mecz </th>
    <td mat-cell *matCellDef="let match"> {{match.teamHome}} - {{match.teamVisitor}} </td>
  </ng-container>

  <!-- date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let match"> {{match.date}} {{match.time}} </td>
  </ng-container>

  <!-- Actions  Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Akcje </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" title="Szczegóły meczu" (click)="openMatchDetailsDialog(row.id)"><mat-icon>info</mat-icon></button>
      <button mat-icon-button color="primary" title="Pobierz delegacje" (click)="getDelegation(row)"><mat-icon>sim_card_download</mat-icon></button>
      <button mat-icon-button color="primary" title="Dodaj do kalendarza" (click)="getIcal(row.id)"><mat-icon>insert_invitation</mat-icon></button>
      <button mat-icon-button color="primary" title="Pobierz metryczkę" (click)="getMetric(row)"><mat-icon>subject</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
