<div class="manifest" style="text-align: center">
  <h1 style="font-weight: bold">Koniec przygody</h1>
  <p>Wpis z dnia 14.09.2023r.</p>
  <p>Drodzy... z ogromną przykrością muszę powiadomić Was, że zostałem właśnie przyblokowany przez firmę, która napisała esora.</p>
  <p>Pomimo braku rzetelnych podstaw do zablokowania, nie spodobał im się fakt, że ulepszyłem korzystanie z ICH produktu.</p>
  <p>W przyszłym tygodniu mam z nimi rozmowę. Zobaczymy co uda się ugrać. Na chwilę obecną, pomimo znanych mi obejść, jestem zmuszony zawiesić działanie aplikacji.</p>
  <p>Jest mi ogromnie przykro z tego powodu, bo włożyłem w to bardzo dużo czasu jak i pieniędzy, bo z własnej kieszeni utrzymywałem serwer itp.</p>
  <p>Żeby pokazać jak mi jest smutno, wstawiam zdjęcie kota, który oddaje tylko 10% moich emocji.</p>
  <p>Pozdrawiam, Dawid Marcinków - zwykły człowiek, który chciał pomóc innym sędziom i oszczędzić ich czas.</p>
  <img [class]="mobile ? 'mobile-img' : ''" src="assets/images/sadcat.jpg">
</div>
<div *ngIf="!loggedIn" class="center">
  <section class="login">
    <span style="margin-right: 10px">W tej chwili nie jesteś zalogowany.</span>
    <button disabled mat-raised-button color="primary" (click)="openLoginDialog()">Niestety już się nie zalogujesz :(</button>
<!--    <button mat-raised-button color="primary" (click)="openLoginDialog()" [disabled]="!gotBackendHealthResponse || isHealthCheckError">Kliknij tutaj aby zalogować się do esora</button>-->
    <div *ngIf="!gotBackendHealthResponse" style="margin-top: 20px"> <b>{{loadingMessage}}</b>
      <mat-progress-bar mode="indeterminate" *ngIf="!gotBackendHealthResponse"></mat-progress-bar>
    </div>
    <div *ngIf="isHealthCheckError">
      <b style="color: red">Nie można uruchomić aplikacji. Odśwież stronę, jak nie pomoże - napisz do Simsa.</b>
    </div>
  </section>
  <hr/>
  <section>
    <h2>Cześć, tu Sims! Witam Cię na mojej stronie, która ma uprościć niektóre rzeczy w Esorze :-)</h2>
    <span>Pamiętaj, że po zalogowaniu tutaj, wyloguje Cię z faktycznego esora I NA ODWRÓT!</span>
    <p>Czyli: Jeżeli po zalogowaniu tutaj, zalogujesz się do Esora, TA strona nie będzie działać prawidłowo i będzie trzeba zalogować się ponownie.</p>
    <p>Jeżeli coś nie działa to w celu naprawy wykonaj następujące kroki:</p>
    <ol>
     <li>Odśwież stronę</li>
      <li>Wyloguj się i zaloguj ponownie</li>
      <li>Napisz do mnie np. na messengerze :)</li>
    </ol>
    <p>PS. Pisałem to w wolnym czasie, którego nie ma jakoś bardzo dużo, więc proszę o wyrozumiałość ^^.</p>
    <p>PS2. Jest to tylko "sędziowska nakładka" do systemu ESOR. Nie wszystkie funkcjonalności można również zrobić na moje stronie.</p>
  </section>
  <hr/>
  <section>
    <h4>Lista ulepszeń:</h4>
    <section style="font-style: italic">
      <div>03.08.2023r. Ankieta przedsezonowa - oficjalna wersja</div>
      <button *ngIf="!showReleaseHistory" mat-stroked-button (click)="showReleaseHistory = true"
              [disabled]="!gotBackendHealthResponse" style="margin: 10px">Pokaż całą historię</button>
      <span *ngIf="showReleaseHistory">
        <div>07.06.2023r. Dodano instrukcję przypinania strony jako ikonka w telefonie.</div>
        <div>20.05.2023r. Utworzono ankietę przedsezonową.</div>
        <div>29.03.2023r. Poprawiony wygląd najbliższych meczów.</div>
        <div>22.01.2023r. Zakładka 'Terminarz ogólny'.</div>
        <div>23.12.2022r. Zakładka 'Sędziowie'.</div>
        <div>20.12.2022r. Edycja nominacji z poziomu "Mój terminarz".</div>
        <div>15.11.2022r. Zakładka "Rozliczenia" - możliwość oznaczania zapłaconych meczów wraz z dodawaniem komentarza.</div>
        <div>03.11.2022r. Poprawka z przypisywaniem numeru delegacji dla okręgowych rozgrywek, poprawka z podliczaniem zarobków (czasami kwota był podawana z kilkoma zerami po przecinku), delegacje dla boiskowych RC w formacie PZKosz.</div>
        <div>31.10.2022r. Poprawki z dodawaniem zajętych terminów - komunikat o zakończeniu dodawania dopierio po faktycznym przeprocesowaniu przez esor</div>
        <div>28.10.2022r. Zakończenie prac przenoszenia aplikacji do domeny devims.pl</div>
        <div>18.10.2022r. Sekcja zarobki rozbita również na kluby</div>
        <div>12.10.2022r. [WERSJA MOBILNA] Guzik z włączeniem nawigacji do hali w sekcji "Najbliższe mecze"</div>
        <div>10.10.2022r. Dodano zakładkę "Zarobki"</div>
        <ul>
          <li>Możliwość sprawdzenia ile zarobiło się w konkretnym sezonie</li>
        </ul>
        <div>21.09.2022r. Dodana obsługa nominacji</div>
        <ul>
          <li>2 Pola do uzupełnienia w ramach akceptacji nominacji</li>
          <li>Ściąga z aktualnymi stawkami sędziowskimi</li>
          <li>Przekierowanie do Google Maps z wpisanymi już adresami OD i DO na podstawie danych z esora</li>
        </ul>
        <div>Starsze:</div>
        <ul>
          <li>Możliwość pobrania delegacji/metryczki na najbliższy mecz z głównej strony zaraz po zalogowaniu</li>
          <li>'Mój terminarz' na jednej stronie <s>w kolejności od najnowszego meczu</s></li>
          <li>Zajęte terminy - cykliczne uzupełnienie terminów na przyszły miesiąc</li>
          <li>Zajęte terminy - możliwość usunięcia wszystkich zajętych terminów</li>
          <li>Informacje o meczu bez konieczności przechodzenia na inną stronę</li>
          <li>Pobranie pustej delegacji z każdego miejsca na stronie</li>
          <li>Pobieranie delegacji/metryczki - nazwa pliku z datą i nazwą drużyny gospodarzy</li>
          <li>Pobieranie meczu do kalendarza - poprawiono godzinę zakończenia meczu</li>
          <li>... i pewnie jeszcze kilka pierdół, które zrobiłem, a teraz o nich nie pamiętam :) </li>
        </ul>
      </span>
    </section>

  </section>
  <section style="font-style: italic">
    <h4>Plany na przyszłość:</h4>
    <section>
      <ul>
        <li>Póki co nie mam pomysłów, więc jeżeli masz jakieś propozycje/uwagi/pomysły - pisz śmiało!!</li>
  <!--      <li>Jeżeli masz jakieś propozycje/uwagi/pomysły - pisz śmiało!!</li>-->
      </ul>
    </section>
  </section>
</div>
<div *ngIf="loggedIn">
  <div *ngIf="!mobile">
    <mat-toolbar color="primary">
      <button mat-icon-button routerLink="home">
        <mat-icon>sports_basketball</mat-icon>
      </button>
      <button mat-button routerLink="nominations">Moje nominacje</button>
      <button mat-button [matMenuTriggerFor]="timetables">Terminarz ↓</button>
      <mat-menu #timetables>
        <button mat-menu-item routerLink="timetable">Mój terminarz</button>
        <button mat-menu-item routerLink="timetable-general">Terminarz ogólny</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="periods">Zajęte terminy ↓</button>
      <mat-menu #periods>
        <button mat-menu-item routerLink="busy-times">Moje zajęte terminy</button>
        <button mat-menu-item routerLink="period">Dodaj zajęty termin</button>
        <button mat-menu-item routerLink="periodically">Uzupełnij cyklicznie przyszły miesiąc</button>
        <button mat-menu-item routerLink="delete-all">Usuń wszystkie zajęte terminy</button>
      </mat-menu>
      <button mat-button (click)="downloadBlankDelegation()" [disabled]="isBlankDelegationDownloading">Pusta delegacja</button>
<!--      <button style="color: gray" mat-button (click)="downloadBlankDelegation()" [disabled]="true">Pusta delegacja</button>-->
      <button mat-button [matMenuTriggerFor]="others">Inne ↓</button>
      <mat-menu #others>
        <button mat-menu-item routerLink="settlements">Rozliczenia</button>
        <button mat-menu-item routerLink="earnings">Zarobki</button>
        <button mat-menu-item routerLink="phonebook">Sędziowie</button>
        <button mat-menu-item routerLink="pre-season-survey">Ankieta</button>
      </mat-menu>
      <button mat-button color="accent" *ngIf="nameClickCounter > 5" (click)="gotToLink('https://docs.google.com/spreadsheets/d/1Xffbx5fcRe-krGf_0r95uaPiPjBIMZwCSY5KE2UiLJE/edit?usp=sharing')">Uwagi excel</button>

      <span class="example-spacer"></span>
      <span (click)="addNameClick()">Cześć {{username}}!</span>
      <button mat-button (click)="logout()">Wyloguj</button>
    </mat-toolbar>
  </div>
  <div *ngIf="mobile">
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu>
        <button mat-menu-item class="mobile-menu-element" routerLink="home">Główna strona</button>
        <button mat-menu-item class="mobile-menu-element" routerLink="nominations">Moje nominacje</button>
        <button mat-menu-item class="mobile-menu-element" disabled>Terminarz: </button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="timetable">Mój terminarz</button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="timetable-general">Terminarz ogólny</button>
        <button mat-menu-item class="mobile-menu-element" disabled>Zajęte terminy: </button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="busy-times">Moje zajęte terminy</button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="period">Dodaj zajęty termin</button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="periodically">Uzupełnij cyklicznie przyszły miesiąc</button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="delete-all">Usuń wszystkie zajęte terminy</button>
        <button mat-menu-item class="mobile-menu-element" disabled>Inne: </button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" (click)="downloadBlankDelegation()" [disabled]="isBlankDelegationDownloading">Pusta delegacja</button>
<!--        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" (click)="downloadBlankDelegation()" [disabled]="true">Pusta delegacja</button>-->
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="settlements">Rozliczenia</button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="earnings">Zarobki</button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="phonebook">Sędziowie</button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="pre-season-survey">Ankieta</button>
        <button *ngIf="nameClickCounter > 5" mat-menu-item class="mobile-menu-element" style="color: darkorange" (click)="gotToLink('https://docs.google.com/spreadsheets/d/1Xffbx5fcRe-krGf_0r95uaPiPjBIMZwCSY5KE2UiLJE/edit?usp=sharing')">Uwagi excel</button>
        <button mat-menu-item class="mobile-menu-element" (click)="logout()">Wyloguj</button>
      </mat-menu>
      <span class="example-spacer"></span>
      <span (click)="addNameClick()">Cześć {{username}}!</span>
    </mat-toolbar>
  </div>
<!--  <div class="announcement">-->
<!--    <p *ngIf="!mobile">-->
<!--      ❕ Wypróbuj nową zakładkę Inne -> SĘDZIOWIE ❕-->
<!--    </p>-->
<!--    <p *ngIf="mobile">-->
<!--      ❗ Wypróbuj nową zakładkę SĘDZIOWIE ❗-->
<!--    </p>-->
<!--  </div>-->
  <div *ngIf="mobile && !temporaryHiddenMobileIcon && showMobileIconHint" class="announcement">
    <div style="font-size: medium">
      ❗ Dodaj tę stronę jako ikonka w telefonie. ❗
    </div>
    <div style="font-style: italic; padding: 5px">
      <div style="display: inline; padding-right: 60px">
        <button mat-stroked-button routerLink="mobile-icon" (click)="temporaryHiddenMobileIcon = true">Pokaż jak</button>
      </div>
      <div style="display: inline">
        <button mat-stroked-button (click)="dontShowMobileIconHint()">Nie pokazuj ponownie</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>


