<div *ngIf="!loggedIn" class="center">
  <section class="login">
    <span style="margin-right: 10px">W tej chwili nie jesteś zalogowany.</span>
    <button mat-raised-button color="primary" (click)="openLoginDialog()" [disabled]="!gotBackendHealthResponse">Kliknij tutaj aby zalogować się do esora</button>
    <div *ngIf="!gotBackendHealthResponse" style="margin-top: 20px"> <b>{{loadingMessage}}</b>
      <mat-progress-bar mode="indeterminate" *ngIf="!gotBackendHealthResponse"></mat-progress-bar>
    </div>
    <div *ngIf="isHealthCheckError">
      <b style="color: red">Nie można uruchomić aplikacji. Odśwież stronę, jak nie pomoże - napisz do Simsa.</b>
    </div>
  </section>
  <hr/>
  <section>
    <h2>Cześć, tu Sims! Witam Cię na mojej stronie, która ma uprościć niektóre rzeczy w Esorze :-)</h2>
    <span>Pamiętaj, że po zalogowaniu tutaj, wyloguje Cię z faktycznego esora I NA ODWRÓT!</span>
    <p>Czyli: Jeżeli po zalogowaniu tutaj, zalogujesz się do Esora, TA strona nie będzie działać prawidłowo i będzie trzeba zalogować się ponownie.</p>
    <p>Jeżeli coś nie działa to w celu naprawy wykonaj następujące kroki:</p>
    <ol>
     <li>Odśwież stronę</li>
      <li>Wyloguj się i zaloguj ponownie</li>
      <li>Napisz do mnie np. na messengerze :)</li>
    </ol>
    <p>PS. Pisałem to w wolnym czasie, którego nie ma jakoś bardzo dużo, więc proszę o wyrozumiałość ^^</p>
  </section>
  <hr/>
  <section>
    <h4>Lista ulepszeń:</h4>
    <section *ngIf="!showReleaseHistory" style="font-style: italic; margin-bottom: 20px">
      <div style="margin-bottom: 5px">23.12.2022r. Zakładka 'Sędziowie'.</div>
      <button mat-stroked-button (click)="showReleaseHistory = true" [disabled]="!gotBackendHealthResponse">Pokaż całą historię</button>
    </section>
    <section *ngIf="showReleaseHistory" style="font-style: italic">
      <div>23.12.2022r. Zakładka 'Sędziowie'.</div>
      <div>20.12.2022r. Edycja nominacji z poziomu "Mój terminarz".</div>
      <div>15.11.2022r. Zakładka "Rozliczenia" - możliwość oznaczania zapłaconych meczów wraz z dodawaniem komentarza.</div>
      <div>03.11.2022r. Poprawka z przypisywaniem numeru delegacji dla okręgowych rozgrywek, poprawka z podliczaniem zarobków (czasami kwota był podawana z kilkoma zerami po przecinku), delegacje dla boiskowych RC w formacie PZKosz.</div>
      <div>31.10.2022r. Poprawki z dodawaniem zajętych terminów - komunikat o zakończeniu dodawania dopierio po faktycznym przeprocesowaniu przez esor</div>
      <div>28.10.2022r. Zakończenie prac przenoszenia aplikacji do domeny devims.pl</div>
      <div>18.10.2022r. Sekcja zarobki rozbita również na kluby</div>
      <div>12.10.2022r. [WERSJA MOBILNA] Guzik z włączeniem nawigacji do hali w sekcji "Najbliższe mecze"</div>
      <div>10.10.2022r. Dodano zakładkę "Zarobki"</div>
      <ul>
        <li>Możliwość sprawdzenia ile zarobiło się w konkretnym sezonie</li>
      </ul>
      <div>21.09.2022r. Dodana obsługa nominacji</div>
      <ul>
        <li>2 Pola do uzupełnienia w ramach akceptacji nominacji</li>
        <li>Ściąga z aktualnymi stawkami sędziowskimi</li>
        <li>Przekierowanie do Google Maps z wpisanymi już adresami OD i DO na podstawie danych z esora</li>
      </ul>
      <div>Starsze:</div>
      <ul>
        <li>Możliwość pobrania delegacji/metryczki na najbliższy mecz z głównej strony zaraz po zalogowaniu</li>
        <li>'Mój terminarz' na jednej stronie <s>w kolejności od najnowszego meczu</s></li>
        <li>Zajęte terminy - cykliczne uzupełnienie terminów na przyszły miesiąc</li>
        <li>Zajęte terminy - możliwość usunięcia wszystkich zajętych terminów</li>
        <li>Informacje o meczu bez konieczności przechodzenia na inną stronę</li>
        <li>Pobranie pustej delegacji z każdego miejsca na stronie</li>
        <li>Pobieranie delegacji/metryczki - nazwa pliku z datą i nazwą drużyny gospodarzy</li>
        <li>Pobieranie meczu do kalendarza - poprawiono godzinę zakończenia meczu</li>
        <li>... i pewnie jeszcze kilka pierdół, które zrobiłem, a teraz o nich nie pamiętam :) </li>
      </ul>
    </section>

  </section>
  <section style="font-style: italic">
    <h4>Plany na przyszłość:</h4>
    <section>
      <ul>
        <li>Póki co nie mam pomysłów, więc jeżeli masz jakieś propozycje/uwagi/pomysły - pisz śmiało!!</li>
  <!--      <li>Jeżeli masz jakieś propozycje/uwagi/pomysły - pisz śmiało!!</li>-->
      </ul>
    </section>
  </section>
</div>
<div *ngIf="loggedIn">
  <div *ngIf="!mobile">
    <mat-toolbar color="primary">
<!--      <button mat-icon-button routerLink="home">-->
<!--        <mat-icon>sports_basketball</mat-icon>-->
<!--      </button>-->
      <button style="transform: scale(2);" mat-icon-button routerLink="home">
        🎄
      </button>
      <button mat-button routerLink="nominations">Moje nominacje</button>
      <button mat-button routerLink="timetable">Mój terminarz</button>
      <button mat-button [matMenuTriggerFor]="periods">Zajęte terminy ↓</button>
      <mat-menu #periods>
        <button mat-menu-item routerLink="busy-times">Moje zajęte terminy</button>
        <button mat-menu-item routerLink="period">Dodaj zajęty termin</button>
        <button mat-menu-item routerLink="periodically">Uzupełnij cyklicznie przyszły miesiąc</button>
        <button mat-menu-item routerLink="delete-all">Usuń wszystkie zajęte terminy</button>
      </mat-menu>
      <button mat-button (click)="downloadBlankDelegation()" [disabled]="isBlankDelegationDownloading">Pusta delegacja</button>
      <button mat-button [matMenuTriggerFor]="others">Inne ↓</button>
      <mat-menu #others>
        <button mat-menu-item routerLink="settlements">Rozliczenia</button>
        <button mat-menu-item routerLink="earnings">Zarobki</button>
        <button mat-menu-item routerLink="phonebook">Sędziowie</button>
      </mat-menu>
      <button mat-button color="accent" *ngIf="nameClickCounter > 5" (click)="gotToLink('https://docs.google.com/spreadsheets/d/1Xffbx5fcRe-krGf_0r95uaPiPjBIMZwCSY5KE2UiLJE/edit?usp=sharing')">Uwagi excel</button>

      <span class="example-spacer"></span>
<!--      <span (click)="addNameClick()">Cześć {{username}}!</span>-->
      🎄<span class="christmas">Wesołych Świąt {{firstName}}!</span>🎄
      <button mat-button (click)="logout()">Wyloguj</button>
    </mat-toolbar>
  </div>
  <div *ngIf="mobile">
    <mat-toolbar color="primary">
<!--      <button mat-icon-button [matMenuTriggerFor]="menu">-->
<!--        <mat-icon>menu</mat-icon>-->
<!--      </button>-->
      <button style="transform: scale(2);" mat-icon-button [matMenuTriggerFor]="menu">
        🎄
      </button>
      <mat-menu #menu>
        <button mat-menu-item class="mobile-menu-element" routerLink="home">🎅 Główna strona</button>
        <button mat-menu-item class="mobile-menu-element" routerLink="nominations">🤶 Moje nominacje</button>
        <button mat-menu-item class="mobile-menu-element" routerLink="timetable">🎁 Mój terminarz</button>
        <button mat-menu-item class="mobile-menu-element" disabled>Zajęte terminy: </button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="busy-times">🎄 Moje zajęte terminy</button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="period">⛄ Dodaj zajęty termin</button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="periodically">❄️ Uzupełnij cyklicznie przyszły miesiąc</button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="delete-all">🌟 Usuń wszystkie zajęte terminy</button>
        <button mat-menu-item class="mobile-menu-element" (click)="downloadBlankDelegation()" [disabled]="isBlankDelegationDownloading">🔔 Pusta delegacja</button>
        <button mat-menu-item class="mobile-menu-element" disabled>Inne: </button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="settlements"> 🕯️ Rozliczenia</button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="earnings">🦌Zarobki</button>
        <button mat-menu-item class="mobile-menu-element mobile-menu-subelement" routerLink="phonebook">🍬Sędziowie</button>
        <button *ngIf="nameClickCounter > 5" mat-menu-item class="mobile-menu-element" color="accent" style="color: darkorange" (click)="gotToLink('https://docs.google.com/spreadsheets/d/1Xffbx5fcRe-krGf_0r95uaPiPjBIMZwCSY5KE2UiLJE/edit?usp=sharing')">Uwagi excel</button>
        <button mat-menu-item class="mobile-menu-element" (click)="logout()">👼🏻 Wyloguj</button>
      </mat-menu>
      <span class="example-spacer"></span>
<!--      <span (click)="addNameClick()">Cześć {{username}}!</span>-->
      <span class="christmas">Wesołych Świąt!</span>
    </mat-toolbar>
  </div>
<!--  <div class="announcement">-->
<!--    <p *ngIf="!mobile">-->
<!--      ❕ Wypróbuj nową zakładkę Inne -> ROZLICZENIA ❕-->
<!--    </p>-->
<!--    <p *ngIf="mobile">-->
<!--      ❗ Wypróbuj nową zakładkę ROZLICZENIA ❗-->
<!--    </p>-->
<!--  </div>-->
  <router-outlet></router-outlet>
</div>


