.demo-inline-calendar-card {
  width: 200px;
}

h1, h2 {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
  margin-bottom: 7px;
}
