<div class="bg">
  <div *ngIf="isAlert" class="alert alert-danger" role="alert">
    {{alertMessage}}
  </div>
  <div *ngIf="isSuccessfulAlert" class="alert alert-success" role="alert">
    {{alertSuccessfulMessage}}
  </div>
  <div class="container loginContainer">
    <div class="row justify-content-center align-items-center" style="height:100vh">
      <div class="col-4">
        <h1 class="text-center display-2">Devims</h1>
        <div class="card-transparent">
          <app-login-card *ngIf="isLoginCard" (alertMsg)="showAlert($event)"></app-login-card>
          <app-registration-card *ngIf="!isLoginCard" (alertMsg)="showAlert($event)" (registerSuccessful)="registerSuccessful($event)"></app-registration-card>
        </div>
      </div>
    </div>
  </div>
</div>
