table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 95%;
}

.center {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.mobileButton {
  width: 45px!important;
  min-width: unset!important;
}

.mat-column-mobile-nazwisko {
  width: 80px;
  padding: 9px;
}
.mat-column-mobile-imie {
  padding: 0;
}
