<section>
  <h1 style="text-align: center; font-weight: bold">SĘDZIOWIE</h1>
  <div class="center">
    <mat-form-field>
      <mat-label>Wyszukaj</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Możesz szukać po każdym polu :)" #input>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="nazwisko">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </th>
        <td mat-cell *matCellDef="let row"> {{row.nazwisko}} </td>
      </ng-container>

      <ng-container matColumnDef="imie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Imie </th>
        <td mat-cell *matCellDef="let row"> {{row.imie}} </td>
      </ng-container>

      <ng-container matColumnDef="miasto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Miasto </th>
        <td mat-cell *matCellDef="let row"> {{row.miasto}} </td>
      </ng-container>

      <ng-container matColumnDef="telefon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefon </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <button id="phoneNumber{{i}}" mat-button [cdkCopyToClipboard]="row.telefon" (click)="copyPhoneNumber(row.id, i)">{{row.telefon}}</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <button id="emailButton{{i}}" mat-button [cdkCopyToClipboard]="row.email" (click)="copyEmail(row.id, i)">{{row.email}}</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="mobile-actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <a style="color:green;" [href]="'tel:' + row.telefon"><button class="mobileButton" mat-button><mat-icon>call</mat-icon></button></a>
          <a style="color: darkgoldenrod" [href]="'sms:' + row.telefon"><button class="mobileButton" mat-button><mat-icon>email</mat-icon></button></a>
          <a [href]="'mailto:' + row.email"><button color="primary" class="mobileButton" mat-button><mat-icon>alternate_email</mat-icon></button></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nie znaleziono żadnego sędziego dla wyszukiwania: "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="mobile ? [8, 50, 100] : [10,30,50,100]"></mat-paginator>
  </div>
</section>
