<h1>Potwierdź nominację:</h1>
<h3>{{nominationHeader}}</h3>
<h1 style="font-weight: bold">{{match.teamHome}} - {{match.teamVisitor}}</h1>
<mat-form-field appearance="fill">
  <mat-label>Kwota brutto (podstawa)</mat-label>
  <span matPrefix><mat-icon>attach_money</mat-icon> &nbsp;</span>
  <span matSuffix>ZŁ</span>
  <input type="number" matInput [(ngModel)]="grossAmount" (change)="calculateNetAmount()" autocomplete="off">
</mat-form-field>
  <button [style]="mobile ? 'margin-bottom: 20px' : 'margin-left: 40px'" [class]="mobile ? 'gross-rate-button center' : 'gross-rate-button'" mat-raised-button (click)="toggleGrossRates()">{{showGrossRates ? 'Ukryj stawki' : 'Pokaż stawki'}}</button>
<table *ngIf="showGrossRates && !mobile">
  <tr>
    <th>sędzia boiskowy</th>
    <th>sędzia funkcyjny</th>
  </tr>
  <tr>
    <td>3LM - 160zł</td>
    <td>Ślzkosz - 45zł</td>
  </tr>
  <tr>
    <td>2LK - 120zł</td>
    <td>PLK - 150zł</td>
  </tr>
  <tr>
    <td>U19M - 100zł</td>
    <td>PLKK - 120zł</td>
  </tr>
  <tr>
    <td>U19K, U17M - 90zł</td>
    <td>1LM - 100zł</td>
  </tr>
  <tr>
    <td>U17K, U15M, U14M - 70zł</td>
    <td>1LK, 2LM - 80zł</td>
  </tr>
  <tr>
    <td>U15K, U14K, U13M - 60zł</td>
  </tr>
  <tr>
    <td>Minikoszykówka - n x 30zł</td>
  </tr>
</table>
<table *ngIf="showGrossRates && mobile">
  <tr>
    <th>s. boiskowy</th>
    <th>s. funkcyjny</th>
  </tr>
  <tr>
    <td>3LM - 160zł</td>
    <td>PLK - 150zł</td>
  </tr>
  <tr>
    <td>MU-19 - 100zł</td>
    <td>PLKK - 120zł</td>
  </tr>
  <tr>
    <td>MU-17- 90zł</td>
    <td>1LM - 100zł</td>
  </tr>
  <tr>
    <td>MU-15 - 70zł</td>
    <td>2LM - 80zł</td>
  </tr>
  <tr>
    <td>MU-14 - 70zł</td>
    <td>1LK - 80zł</td>
  </tr>
  <tr>
    <td>MU-13 - 60zł</td>
    <td>Reszta - 45zł</td>
  </tr>
  <tr>
    <td>2LK - 120zł</td>
  </tr>
  <tr>
    <td>KU-19 - 90zł</td>
  </tr>
  <tr>
    <td>KU-19 - 90zł</td>
  </tr>
  <tr>
    <td>KU-17 - 90zł</td>
  </tr>
  <tr>
    <td>KU-15 - 90zł</td>
  </tr>
  <tr>
    <td>KU-14 - 90zł</td>
  </tr>
  <tr>
    <td>KU-19 - 90zł</td>
  </tr>
  <tr>
    <td>Minikosz - n x 30zł</td>
  </tr>
</table>
<mat-form-field appearance="fill">
  <mat-label>Dojazd</mat-label>
  <span matPrefix><mat-icon>directions_car</mat-icon> &nbsp;</span>
  <span matSuffix>ZŁ</span>
  <input type="number" matInput [(ngModel)]="transportAmount" (change)="calculateNetAmount()" autocomplete="off">
</mat-form-field>
<button *ngIf="!mobile" [style]="mobile ? 'margin-bottom: 20px' : ''" class="input-button" mat-icon-button (click)="goToGoogleMaps()"
        matTooltip="Sprawdź odległość"><mat-icon style="color: red">location_on</mat-icon></button>
<button *ngIf="!mobile" class="" mat-raised-button (click)="toggleTransportRates()">{{showTransportRates ? 'Ukryj stawki' : 'Pokaż stawki'}}</button>
<button *ngIf="mobile" class="" mat-raised-button (click)="toggleTransportRates()">{{showTransportRates ? 'Ukryj stawki' : 'Pokaż stawki'}}</button>
<button *ngIf="mobile" class="" mat-raised-button (click)="goToGoogleMaps()"><mat-icon style="color: red">location_on</mat-icon>Odległość</button>
<table *ngIf="showTransportRates && !mobile">
  <tr>
    <th colspan="2">Wszystkie rozgrywki (Ślzkosz + RC)</th>
  <tr>
    <td>Do 10km - 10zł</td>
    <td>Do 45km - 45zł</td>
  </tr>
  <tr>
    <td>Do 20km - 20zł</td>
    <td>Do 60km - 60zł</td>
  </tr>
  <tr>
    <td>Do 30km - 30zł</td>
    <td>Powyżej 60km - 100zł</td>
  </tr>
</table>
<table *ngIf="showTransportRates && mobile" style="margin-top: 20px">
  <tr>
    <th colspan="2">Wszystkie mecze Ślzkosz + RC</th>
  <tr>
    <td>Do 10km - 10zł</td>
  </tr>
  <tr>
    <td>Do 20km - 20zł</td>
  </tr>
  <tr>
    <td>Do 30km - 30zł</td> </tr>
  <tr>
    <td>Do 45km - 45zł</td>
  </tr>
  <tr>
    <td>Do 60km - 60zł</td>
  </tr>
  <tr>
    <td>Powyżej 60km - 100zł</td>
  </tr>
</table>
<mat-form-field appearance="fill" [style]="mobile ? 'margin-top: 20px' : ''">
  <mat-label>Do wypłaty</mat-label>
  <span matPrefix><mat-icon>payments</mat-icon> &nbsp;</span>
  <span matSuffix>ZŁ</span>
  <input matInput disabled [(ngModel)]="toPay">
</mat-form-field>
<section [style]="mobile ? 'padding-bottom: 20px' : ''">
  <button class="decision-button" mat-raised-button (click)="closeDialog()">Anuluj</button>
  <button class="decision-button" mat-raised-button color="primary" (click)="acceptNomination()">Potwierdź</button>
</section>
