.decision-button {
  margin-right: 10px;
  float: right;
}

.input-button {
  margin-top: 0.3em;
  padding: 1.55em 0;
  line-height: 1.125;
}

.gross-rate-button {
  margin-left: 20px;
}

td, th {
  text-align: left;
  padding: 0 10px;
}

.center {
  width: 50%;
  margin: 0 auto;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  /*width: 120px;*/
}

.acceptedOptionLabel {
  padding-top: 20px;
}
