<div *ngIf="!testId">
  <div style="text-align: center">
    <h2>Wybierz test, który chcesz rozwiązać:</h2>
    <div class="centered-table-wrapper">
      <table mat-table [dataSource]="availableTests"  class="mat-elevation-z8" [style]="isMobile ? 'width: 100%': 'width: 50%'">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nazwa </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="activateFrom">
          <th mat-header-cell *matHeaderCellDef> Aktywny od </th>
          <td mat-cell *matCellDef="let element"> {{element.activateFrom | date:'yyyy-MM-dd HH:mm:ss' }} </td>
        </ng-container>

        <ng-container matColumnDef="activateTo">
          <th mat-header-cell *matHeaderCellDef> Aktywny do </th>
          <td mat-cell *matCellDef="let element"> {{element.activateTo | date:'yyyy-MM-dd HH:mm:ss' }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="chooseTest(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
<div *ngIf="testId">
  <div style="text-align: center">
    <div *ngIf="isWelcomePage">
      <div>
        <h2>Witaj na teście: ,,{{test.name}}"!</h2>
        <h3>Za chwilę dostaniesz losowo wybrane <strong>{{test.questionsNoInSingleTest}}</strong> pyta{{test.questionsNoInSingleTest == 1 ? 'nie' : test.questionsNoInSingleTest < 5 ? 'nia' : 'ń'}}. Aby zaliczyć test będziesz potrzebował <strong>{{test.questionsNoToPass}}</strong> {{test.questionsNoToPass == 1 ? 'poprawną odpowiedź' : test.questionsNoToPass < 5 ? 'poprawne odpowiedzi' : 'poprawnych odpowiedzi'}}.</h3>
        <h3>Na wykonanie testu masz <strong>{{minutes}}</strong> minut{{minutes == 1 ? 'ę' : minutes < 5 ? 'y' : ''}}. Czas będzie odliczany na górze ekranu.</h3>
        <h3>Aby wygenerować Ci listę pytań, proszę o podanie imienia, nazwiska oraz adresu email.</h3>
        <h3>Po kliknięciu przycisku "dalej" <b><u>nie rozpoczniesz jeszcze testu.</u></b></h3>

      </div>
      <div style="padding: 20px;display: inline-block">
        <form [formGroup]="myForm" (ngSubmit)="getUserTest()" class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Imię</mat-label>
            <input matInput placeholder="Imię" formControlName="firstName">
            <mat-error *ngIf="myForm.get('firstName')?.hasError('required')">
              Imię jest wymagane
            </mat-error>
            <mat-error *ngIf="myForm.get('firstName')?.hasError('minlength')">
              Imię musi mieć co najmniej 3 znaki
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nazwisko</mat-label>
            <input matInput placeholder="Nazwisko" formControlName="lastName">
            <mat-error *ngIf="myForm.get('lastName')?.hasError('required')">
              Nazwisko jest wymagane
            </mat-error>
            <mat-error *ngIf="myForm.get('lastName')?.hasError('minlength')">
              Nazwisko musi mieć co najmniej 3 znaki
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="myForm.get('email')?.hasError('required')">
              Email jest wymagany
            </mat-error>
            <mat-error *ngIf="myForm.get('email')?.hasError('email')">
              Wprowadź poprawny email
            </mat-error>
          </mat-form-field>

          <br/>
          <button type="submit" mat-stroked-button color="primary" [disabled]="isGettingQuestions">
            <mat-icon *ngIf="isGettingQuestions"><mat-spinner color="primary" diameter="20"></mat-spinner></mat-icon>
            {{isGettingQuestions ? 'Pobieram pytania' :'Dalej'}}
          </button>
        </form>
      </div>
    </div>
    <div *ngIf="isTestPage">
      <div class="font-buttons">
        <mat-icon class="font-icon" (click)="fontDecrease()">text_decrease</mat-icon>
        <span [style]="minutes == 0 ? 'color:red' : ''"><b>CZAS: {{minutes}}:{{seconds | number: '2.0' }}</b></span>
        <mat-icon class="font-icon" (click)="fontIncrease()">text_increase</mat-icon>
      </div>
      <div style="padding-bottom: 20px">
        Pytanie {{isTestPreparation ? 0 : currentQuestionIndex + 1}} z {{userTest.answers.length}}
        <mat-progress-bar mode="determinate" [value]="isTestPreparation ? 40 : (currentQuestionIndex / userTest.answers.length) * 100"></mat-progress-bar>
      </div>
      <div class="main-div">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title *ngIf="isTestPreparation" [ngStyle]="{'font-size': titleFontSize + fontSizeChangeNo +'px', 'line-height' : 1.25}">Pytanie nr 0 - TESTOWE</mat-card-title>
            <mat-card-title *ngIf="!isTestPreparation" [ngStyle]="{'font-size': titleFontSize + fontSizeChangeNo +'px', 'line-height' : 1.25}">Pytanie nr {{currentQuestionIndex + 1}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p *ngIf="isTestPreparation" [ngStyle]="{'font-size': questionFontSize + fontSizeChangeNo +'px', 'line-height' : 1.5}">Tutaj pojawi się Twoje pytanie. Czas jeszcze nie jest włączony. Na górze masz dwa przyciski do ustawienia odpowiedniego rozmiaru czcionki. Pytanie będzie znajdować się właśnie w tym miejscu. Ustaw taką wielkość, żebyś mógł wygodnie przeczytać pytanie. Wielkość zostanie zapamiętana do wszystkich kolejnych pytań. Pamiętaj, że będzie możliwość powrotu do poprzednich pytań przyciskiem na dole. </p>
            <p *ngIf="!isTestPreparation" [ngStyle]="{'font-size': questionFontSize + fontSizeChangeNo +'px', 'line-height' : 1.5}">{{userTest.answers[currentQuestionIndex].question.question}}</p>
          </mat-card-content>
          <mat-card-footer class="example-card-footer">
            <div *ngIf="isTestPreparation">
              <mat-radio-group class="example-radio-group" color="primary">
                <mat-radio-button class="example-radio-button" [value]="true">
                  Tak
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" [value]="false">
                  Nie
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div *ngIf="!isTestPreparation">
              <mat-radio-group class="example-radio-group" color="primary" [(ngModel)]="userTest.answers[currentQuestionIndex].userAnswer" (ngModelChange)="saveAnswersToLocalStorage()">
                <mat-radio-button class="example-radio-button" [value]="true">
                  Tak
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" [value]="false">
                  Nie
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-card-footer>
        </mat-card>
      </div>

      <div style="padding-top: 30px">
        <div *ngIf="!isTestPreparation">
          <button mat-raised-button style="margin-right: 20px" *ngIf="currentQuestionIndex > 0" (click)="previousQuestion()">Powrót</button>
          <button mat-raised-button *ngIf="currentQuestionIndex < userTest.answers.length - 1" (click)="nextQuestion()">Dalej</button>
          <button mat-raised-button *ngIf="currentQuestionIndex == userTest.answers.length - 1" (click)="finishAndSendTest()" color="primary">ZAKOŃCZ TEST</button>
        </div>
        <div *ngIf="isTestPreparation">
          <button mat-flat-button color="warn" (click)="startTest()">ROZPOCZNIJ TEST</button>
        </div>
      </div>
    </div>
    <div *ngIf="isTestFinished">
      <div *ngIf="isTimeUp">
        Czas się skończył!
      </div>
      <div>
        <h2>Koniec testu!</h2>
        <h3>Twój wynik to: {{score}}/{{userTest.answers.length}}</h3>
        <h2 *ngIf="isTestPassed()" style="color: green">Zdałeś, gratulujemy! :)</h2>
        <h2 *ngIf="!isTestPassed()" style="color: darkred">Niestety nie udało się zaliczyć testu.</h2>
      </div>
    </div>
  </div>

</div>
