table {
  width: 100%;
}

.right-button {
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 5px;
  float: right;
}

.mat-column-select {
  flex: 0 0 3% !important;
  width: 3% !important;
}
