<section>
  <h1 style="display: inline">Moje zajęte terminy</h1>
  <span *ngIf="periods.length != 0 " class="right-button" style="text-align: center"><button mat-stroked-button color="warn" (click)="deleteSelections()">Usuń zaznaczone</button></span>
</section>
<table mat-table [dataSource]="periods" class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" color="warn">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Num. </th>
    <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="dateFrom">
    <th mat-header-cell *matHeaderCellDef> Od </th>
    <td mat-cell *matCellDef="let element"> {{element.dateFrom}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="dateTo">
    <th mat-header-cell *matHeaderCellDef> Do </th>
    <td mat-cell *matCellDef="let element"> {{element.dateTo}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef> Powód </th>
    <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
