.full-table {
  width: 100%;
}

.longMatFormField {
  font-size: 14px;
  width: 95%;
}

.center {
  margin: 0 auto;
}

.referee {
  font-weight: 550;
}

td {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

mat-panel-title {
  justify-content: center !important;
}

.mat-column-example {
  width: 200px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
.mat-column-description {
  text-align: center;
}

.dictionary-table {
  width: 70%;
}

.to-top {
  bottom: 0;
  cursor: pointer;
  margin: 0 8px 12px 0;
  position: fixed;
  right: 0;
}

.dictionary-table .mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.dictionary-table .mat-row:hover .mat-cell {
  border-color: currentColor;
}
