<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Android">
    <ol>
      <li>
        <p>
          Pamiętaj żeby najlepiej robić to na głównej stronie, czyli <a href="https://devims.pl/esor/home">https://devims.pl/esor/home</a> (ale nie klikaj jeszcze - przeczytaj najpierw proszę do końca 🙂).
        </p>
        <p>UWAGA! Zależnie od tego z jakiej przeglądarki korzystamy, instrukcja może się delikatnie różnić, jednakże na pewno w każdej da się to zrobić. Przedstawiony przykład jest z wykorzystaniem przeglądarki Chrome.</p>
      </li>
      <li>
        <p>
          Klikamy w przycisk z trzema kropkami <img src="assets/images/three_dots_android.png" width="20px" height="20px">
        </p>
        <img style="max-width: 90%" src="assets/images/android_chrome_three_dots.png">
      </li>
      <li>
        <p>
          Następnie klikamy w "Dodaj do ekranu głównego"
        </p>
        <img style="max-width: 90%" src="assets/images/android_chrome_add_to_main_screen.png">
      </li>
    </ol>
  </mat-tab>
  <mat-tab label="iPhone">
    <ol>
      <li>
        <p>
          Pamiętaj żeby najlepiej robić to na głównej stronie, czyli <a href="https://devims.pl/esor/home">https://devims.pl/esor/home</a> (ale nie klikaj jeszcze - przeczytaj najpierw proszę do końca 🙂).
        </p>
      </li>
      <li>
        <p>
          Kliknij w środkowy przycisk&nbsp;<img class="icon" src="/assets/images/iphone_share_icon.png" alt="przycisk udostępniania">&nbsp;dolnego panelu.
        </p>
      </li>
      <li>
        <p>
          Przewiń listę opcji w&nbsp;dół, a&nbsp;następnie stuknij w&nbsp;Do ekranu początkowego.
        </p>
        <p>
          Jeśli nie widzisz opcji Do ekranu początkowego, możesz ją dodać. Przewiń na dół listy, stuknij w&nbsp;Edytuj czynności, a&nbsp;następnie stuknij w&nbsp;<img class="icon" src="/assets/images/iphone_add_icon.png" alt="" height="30" width="30" originalimagename="GlobalArt/IL_AddPlusGreen.png">&nbsp;Do ekranu początkowego.
        </p>
        <img style="max-width: 90%" src="assets/images/iphone_add_to_desktop.png">
      </li>
    </ol>
  </mat-tab>
</mat-tab-group>
