<mat-grid-list cols="3" rowHeight="50%" colwi>
  <a href="#"><mat-grid-tile style="background: lightslategray" rowspan="2"><mat-card><mat-icon>lock</mat-icon>Devims</mat-card></mat-grid-tile></a>
  <a routerLink="survey"><mat-grid-tile style="color: white;background: cadetblue; text-align: center" colspan="2"><h1>📝 Ankieta przedsezonowa</h1></mat-grid-tile></a>
  <a routerLink="esor"><mat-grid-tile style="color: white" colspan="2"><img src="assets/images/dead_esor.png"></mat-grid-tile></a>
</mat-grid-list>
