.match-card {
  width: 450px;
}

button {
  margin-right: 5px;
}

.container {
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 16px;
}

.teams {
  line-height: 1em;
}
