<mat-card>
  <h1>Najbliższe mecze:</h1>
  <h4 *ngIf="!upcomingMatches && upcomingMatchLoaded">Nie masz żadnego meczu :-(</h4>
  <mat-grid-list *ngIf="upcomingMatches" [cols]="mobile ? 1 : upcomingMatches.length" [rowHeight]="!mobile ? upcomingMatches.length == 1 ? '8:1' : upcomingMatches.length == 2 ? '4:1' : '3:1' : ''">
    <mat-grid-tile *ngFor="let upcomingMatch of upcomingMatches">
      <mat-card class="match-card" >
        <p>{{upcomingMatch.date}} {{upcomingMatch.time}}</p>
        <p>{{upcomingMatch.league}}</p>
        <h2>{{upcomingMatch.teamHome}} - {{upcomingMatch.teamVisitor}}</h2>
        <button mat-raised-button (click)="openMatchDetailsDialog(upcomingMatch.id)">Info</button>
        <button mat-raised-button (click)="getDelegation(upcomingMatch)">Delegacja</button>
        <button mat-raised-button (click)="getIcal(upcomingMatch.id)">Kalendarz</button>
        <button mat-raised-button (click)="getMetric(upcomingMatch)">Metryczka</button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
