<mat-progress-bar *ngIf="!upcomingMatchLoaded" mode="indeterminate"></mat-progress-bar>
<section style="padding-bottom: 5px" *ngIf="nominations > 0">
  <h2 style="color: red; display: inline; margin-left: 5px">Oczekujące nominacje: {{nominations}}</h2>
  <button routerLink="/esor/nominations" style="margin-left: 10px" mat-stroked-button color="warn">Przejdź do nominacji</button>
</section>
<section style="margin-left: 10px">
  <h1 [style]="mobile ? 'margin-bottom: 0px' : ''">Najbliższe mecze:</h1>
  <h4 *ngIf="!upcomingMatches && upcomingMatchLoaded">Nie masz żadnego meczu :-(</h4>
  <div class="container">
    <div *ngFor="let upcomingMatch of upcomingMatches">
      <mat-card appearance="outlined" [style]="mobile ? 'width: ' + (screenWidth - 20)  + 'px' : 'width:' + (screenWidth - 50) / 3 + 'px; height: 200px'">
        <mat-card-content>
          <p>{{upcomingMatch.date}} {{upcomingMatch.time}}</p>
          <p>{{upcomingMatch.league}}</p>
          <h2 class="teams">{{upcomingMatch.teamHome}} - {{upcomingMatch.teamVisitor}}</h2>
          <button mat-raised-button (click)="openMatchDetailsDialog(upcomingMatch.id)">Info</button>
          <button mat-raised-button (click)="getDelegation(upcomingMatch)">Delegacja</button>
          <button mat-raised-button (click)="getIcal(upcomingMatch.id)">Kalendarz</button>
          <button [style]="mobile ? 'margin-top: 10px' : ''" mat-raised-button (click)="getMetric(upcomingMatch)">Metryczka</button>
          <button *ngIf="mobile" style="margin-top: 10px" mat-raised-button (click)="goToGoogleMaps(upcomingMatch.id)">
            <mat-icon style="color: dodgerblue; padding-left: 12px" fontIcon="navigation"></mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
