<mat-progress-bar *ngIf="!upcomingMatchLoaded" mode="indeterminate"></mat-progress-bar>
<section style="padding-bottom: 5px" *ngIf="nominations > 0">
  <h2 style="color: red; display: inline; margin-left: 5px">Oczekujące nominacje: {{nominations}}</h2>
  <button routerLink="/esor/nominations" style="margin-left: 10px" mat-stroked-button color="warn">Przejdź do nominacji</button>
</section>
<section style="margin-left: 10px">
<!--  Zakomentowane, odkomentować, a wywalić wszystko z klasami 'holiday' + wywalić zdjęcie-->
<!--  <h1 [style]="mobile ? 'margin-bottom: 0px' : ''">Najbliższe mecze:</h1>-->
  <h1 class="holiday" *ngIf="!upcomingMatchLoaded || upcomingMatches" [style]="mobile ? 'margin-bottom: 0px' : ''">Najbliższe mecze:</h1>
<!--  <h4 *ngIf="!upcomingMatches && upcomingMatchLoaded">Nie masz żadnego meczu :-(</h4>-->
  <h1 class="holiday" *ngIf="!upcomingMatches && upcomingMatchLoaded">Udanych wakacji!</h1>
  <h1 class="holiday" *ngIf="!upcomingMatches && upcomingMatchLoaded">Do zobaczenia w przyszłym sezonie! :-)</h1>
  <img [class]="mobile ? 'mobile-img' : ''" *ngIf="!upcomingMatches && upcomingMatchLoaded" src="assets/images/holiday.jpeg">
  <h5 class="holiday">Ps. Podczas przygotowań do sezonu 2023/2024 niektóre funkcjonalności mogą działać nieprawidłowo.</h5>
  <div class="container">
    <div *ngFor="let upcomingMatch of upcomingMatches">
      <mat-card [style]="mobile ? 'width: ' + (screenWidth - 50)  + 'px' : 'width:' + ((screenWidth / 3) - 50) + 'px; height: 170px'">
        <mat-card-content>
          <p>{{upcomingMatch.date}} {{upcomingMatch.time}}</p>
          <p>{{upcomingMatch.league}}</p>
          <h2 class="teams">{{upcomingMatch.teamHome}} - {{upcomingMatch.teamVisitor}}</h2>
          <button mat-raised-button (click)="openMatchDetailsDialog(upcomingMatch.id)">Info</button>
          <button mat-raised-button (click)="getDelegation(upcomingMatch)">Delegacja</button>
          <button mat-raised-button (click)="getIcal(upcomingMatch.id)">Kalendarz</button>
          <button [style]="mobile ? 'margin-top: 10px' : ''" mat-raised-button (click)="getMetric(upcomingMatch)">Metryczka</button>
          <button *ngIf="mobile" style="margin-top: 10px" mat-raised-button (click)="goToGoogleMaps(upcomingMatch.id)">
            <mat-icon style="color: dodgerblue">navigation</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
